
<div class="conatiner-fluid flash-padding">
    <% if(success && success.length) { %>
        <h1 class="alert alert-success" role="alert"><%= success %></h1>
    <% } %>

    <% if(error && error.length) { %>
        <h1 class="alert alert-danger" role="alert"><%= error %></h1>
    <% } %>
</div>