/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

.topbar {
  background: black;
  position: absolute;
  
}

.logo {
  color: #fff;
}

.logo:hover {
  color: #fff;
}

.static-slider-head {
  min-height: 840px;
  background-image: url(/images/form-banners/banner1/banner-bg5.jpg);
}

#map {
  width: 100%;
  height: 500px;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.color-green {
  color: green;
}

.color-red {
  color: red;
}

.profile-image {
  width: 100px;
  border-radius: 50%;
}

.modal-dialog.cascading-modal {
  margin-top: 0;
}

.modal-dialog {
  min-height: 0 !important;
  margin: 1.75rem auto;
  margin-top: 0;

}

.login {
  padding-top: 210px;
  padding-bottom: 600px;
}

.register {
  padding-top: 210px;
  padding-bottom: 520px;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }